/* You can add global styles to this file, and also import other style files */
/* Global styling */

app-root, body {
margin: 0;
padding-top: 100px;
font-family: 'Quicksand', sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
height: 100px;
font-family: 'Quicksand', sans-serif;
font-weight: 300;
background-color: #333333;
}

li {
margin-left: 15px;
margin-right: 15px;
}

.logo {
height: 50px;
width: 50px;
filter: brightness(0) invert(1);
position: relative;
top: -5px;
margin-right: 10px;
}

footer {
background-color:  #333333;
}

.container-home {
background-color: rgb(233, 236, 239);
}

.dark-banner {
background-color: #e1dee1;
}

.carousel-item {
max-height: 880px;
}

.caption-description {
background-color: rgba(56, 56, 56, 0.603);
padding-top: 10px;
padding-bottom: 10px;
padding-left: 0px;
padding-right: 0px;
font-family: 'Quicksand', sans-serif;
font-weight: 400;
}

.font-quicksand {
font-family: 'Quicksand', sans-serif;
font-weight: 300;
}

.large-heavy-font {
font-size: 3.5em;
font-weight: 800;
}

.heavy-font {
font-size: 1.2em;
}

.blue-font {
color: rgb(35, 61, 148);
}

