

<div class="about ">
    <div class="container-flex container-home">
        <div class="jumbotron text-center">
        <h1 class="mb-5">Cloud Storage - The Privacy Company</h1>
        <div class="container mb-n5">
            <p class="mt-2 text-left">
            Our core uses post-quantum end-to-end encrypted cloud storage and communication. In the future, we will continue to develop
            innovative products and features that complement its exisiting platform for both individuals and businesses to help them improve their security on the Internet
            without compromising on usability.
            </p>
        </div>
        </div>
        <div class="jumbotron">
        <div class="container">
            <div class="row text-center">
            <div class="col-sm">
                <h1 class="large-heavy-font blue-font">222M+</h1>
                <p class="heavy-font">registered users</p>
            </div>
            <div class="col-sm">
                <h1 class="large-heavy-font blue-font">10M+</h1>
                <p class="heavy-font">daily active users</p>
            </div>
            <div class="col-sm">
            <h1 class="large-heavy-font blue-font">98B+</h1>
                <p class="heavy-font">files uploaded</p>
            </div>
            <div class="col-sm">
                <h1 class="large-heavy-font blue-font">200+</h1>
                <p class="heavy-font">countries have users with us</p>
            </div>
            </div>
        </div>
    </div>
        <br>
        <div class="container-flex text-center">
        <img class="img-fluid" src="./assets/images/staff.jpg" alt="picture of our staff">
        </div>

        <div class="jumbotron text-center">
        <div class="container">
        <h1 class="m-3">Our History</h1>
        <p class="text-left pt-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in iaculis velit, vel molestie purus. Aliquam dignissim at ligula ut suscipit. Aenean condimentum diam leo, ut egestas nunc molestie in. Duis sed rhoncus erat, eu venenatis enim. Sed et auctor nunc. Quisque ornare luctus dolor, eu ultrices mi tempor ac. Donec feugiat sodales quam, et dapibus lacus malesuada sit amet. Mauris quis cursus mi, quis fermentum ligula. Aliquam at ante tincidunt, sagittis felis at, convallis mi. Phasellus at posuere magna. Curabitur cursus aliquet magna.
        </p>
        <p class="text-left">
        Nullam feugiat, metus at tempor pellentesque, mauris libero cursus felis, in aliquam leo nisl eu lacus. Nulla sit amet nisi eu lacus scelerisque convallis. Morbi suscipit turpis sit amet lorem vehicula, vel posuere nulla ullamcorper. Phasellus nec dolor lacus. Proin ultrices libero eget ultricies hendrerit. Sed ornare et mauris nec semper. Morbi fringilla felis vel lacinia euismod. Mauris luctus eget erat sit amet bibendum.
        </p>
        <p class="text-left">
        Nam ut suscipit velit, non interdum orci. Vivamus vulputate, lorem varius luctus luctus, turpis justo sodales justo, ac fringilla magna magna quis mi. Morbi scelerisque metus a fermentum suscipit. Nunc sollicitudin, est eget efficitur ultricies, ligula eros dictum lacus, quis commodo nibh erat at sem. Nulla ullamcorper vehicula urna, in rutrum leo suscipit vel. Ut quis commodo nunc, non feugiat leo. Nam nec rutrum quam, vitae mollis orci. 
        </p>
        <p class="text-left">
        Donec ex ante, finibus quis vitae, gravida faucibus justo. Nulla sodales venenatis mi, varius tempus tellus suscipit eu. Praesent tempus pellentesque mi in aliquet. Pellentesque interdum eget nunc non ultrices.
        </p>
        </div>
        </div>
        <br>

    </div>
    </div>