
<div class="container-home">

        <div id="carouselBanner" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="5000">
                <img class="d-block w-100" src="./assets/images/image1.jpg" alt="First slide" />
                <div class="carousel-caption d-none d-md-block">
                    <div class="caption-description">
                        <h3>Storage you can rely on.</h3>
                        <p>99.999% uptime guaranteed with data backup provided regularly.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-interval="6000">
                <img class="d-block w-100" src="./assets/images/image2.jpg" alt="Second slide" />
                <div class="carousel-caption d-none d-md-block">
                    <div class="caption-description">
                        <h3>Quantum End-to-End Encryption</h3>
                        <p>Data stored with latest encrpytion to provided maximum security.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-interval="5500">
                <img class="d-block w-100" src="./assets/images/image3.jpg" alt="Third slide" />
                <div class="carousel-caption d-none d-md-block">
                    <div class="caption-description">
                        <h3>Transparent and Secure Integration</h3>
                        <p>Easy automated synchonization between your network and any platform you use.</p>
                    </div>
                </div>
            </div>
        </div>
        </div>


        
        <div class="jumbotron">
            <div class='container'>
                <h1 class="text-center">What we can do for you.</h1>

                <div class="accordion" id="accordionBenefits">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0 text-center">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Privacy
                                </button>
                            </h2>
                        </div>
                    
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionBenefits">
                            <div class="card-body">
                                <div class="text-center">
                                    End-To-End Post Quantum Encryption, we achieve actual privacy by design
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0 text-center">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <div class="text-center">Secure</div>
                            </button>
                            </h2>
                        </div>
                    
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionBenefits">
                            <div class="card-body">
                                <div class="text-center">
                                    Carefully engineered to achieve highest level of security to its users. 
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0 text-center">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <div class="text-center">Transparent</div>
                            </button>
                            </h2>
                        </div>
                    
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionBenefits">
                            <div class="card-body">
                                <div class="text-center">
                                    Client apps are Public source. Its cryptographic architecture is specificed in a comprehensive Security Whitepaper.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h2 class="mb-0 text-center">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <div class="text-center">Reliable</div>
                            </button>
                            </h2>
                        </div>
                    
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionBenefits">
                            <div class="card-body">
                                <div class="text-center">
                                    We own and operate redundant server infrastructures directly around the world, ensuring that your data always remains available.
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h2 class="mb-0 text-center" >
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <div class="text-center">Reliable</div>
                            </button>
                            </h2>
                        </div>
                    
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionBenefits">
                            <div class="card-body">
                                <div class="text-center">
                                    We own and operate redundant server infrastructures directly around the world, ensuring that your data always remains available.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h2 class="mb-0 text-center">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                <div class="text-center">Generous</div>
                            </button>
                            </h2>
                        </div>
                    
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="text-center">
                                    We provide 3TB free storage for the first 5 years and ensure easy ways to expand and extend your free storage.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <p class="text-center">
                    <button type="button" class="btn btn-outline-info">
                    <a class="nav-link" href="./products"> Learn More.</a>
                    </button>
                </p>
            </div>
        </div>
    
    <div class="jumbotron">
        <div class="container">
            <h1 class="text-center mb-4">What can you do?</h1>
                <p class="text-center">
                    <div class="container-flex">
                        <div class="row">
                            <div class="col-sm">        
                                <div class="card text-center" style="width: 18rem;">
                                    <img src="./assets/images/backup.png" class="card-img-top p-5" alt="backup">
                                    <div class="card-body">
                                    <h5 class="card-title">Backup</h5>
                                    <p class="card-text">                
                                        Automatically backup photos and videos from your mobile device with Camera Uploads, 
                                        and sync your computer data with our Desktop App. 
                                        
                                        Automatically maintains historic versions of your files, 
                                        allowing you to easily revert when needed.
                                    </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm">        
                                <div class="card text-center" style="width: 18rem;">
                                    <img src="./assets/images/synch.png" class="card-img-top p-5" alt="synchronization">
                                    <div class="card-body">
                                        <h5 class="card-title">Synchronize</h5>
                                    <p class="card-text">                
                                        Easy automated synchronization between your computer and our app.
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                    </p>
                                    </div>
                                </div>
                            </div>

                            
                            <div class="col-sm">        
                                <div class="card text-center" style="width: 18rem;">
                                    <img src="./assets/images/share.png" class="card-img-top p-5" alt="share">
                                    <div class="card-body">
                                    <h5 class="card-title">Share</h5>
                                    <p class="card-text">                
                                        Export securely keyed links to your files and folders, or share folders directly with your contacts on our App.
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>       
                                    </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>


    </div>


    <br>
</div>